#customRange3 {
    width: 100%; /* Set the width to fill its container */
    height: 30px; /* Set the height of the range bar */
    background-color: #f1f1f1; /* Set the background color of the range bar */
    border-radius: 10px; /* Add some roundness to the ends of the range bar */
    outline: none; /* Remove the default focus outline */
}

/* Change the track color as the user changes the input value */
#customRange3::-moz-range-progress {
    background-color: #007bff;
}

#customRange3::-webkit-slider-runnable-track {
    background-color: #007bff;
}

/* Hide the default tick marks */
#customRange3::-moz-range-track {
    border: none;
}

#customRange3::-ms-track {
    border: none;
}

#customRange3::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0; /* Set the width of the thumb to 0 to hide it */
  }

  #customRange3::-moz-range-thumb {
    width: 0;
  }

.res-opacity-background {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 24px;
    padding-top: 50px;
    padding-bottom: 50px;   

  }

.res-button {
    display: block;
    width: 200px;
    margin: 70px auto;
    position: relative;
    border-radius: 24px;
    --background-color: black;
    --border-size: 2px;
  }

.res-privacy-rating {
    font-size:32px;
}

.res-safety-score {
    font-size: 32px;
}
  
  


  
  

