@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.opacity-background {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 24px;
}

.home-header {
  padding-top: 80px !important;
  padding-left: 55px !important;
}

.home-section {
  height: 100vh;
  margin: 0;
  position: relative;
  z-index: 1;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.home-section::before {
  content: "";
  background-image: url(./Assets/home-bg-3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.75;
}


.home-content {
  padding: 9rem 0 2rem !important;
  text-align: left;
}
.heading {
  color: black;
  font-size: 4em !important; /* originally 2.4 em */
  /*padding-left: 50px !important;*/
  font-family: "Poppins";
}

.heading-name {
  color: black;
  font-size: 3em !important; /* originally 2.5 em */
  font-family: "Poppins";
  position: relative;
}

.main-name {
  color: #ff9910;
  font-size: 64px;
  position: relative;
  top: 4px;
}

.Typewriter__wrapper {
  font-size: 32px !important; /*2.2em */
  color: #ff9910 !important; /*#674023 */
  font-weight: 600 !important;
  font-family: "Poppins";
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #ff9910 !important;
}
/*
.button-container-primary {
  background-image: url(./Assets/baguette.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 200px;
  margin: 50px auto;
  position: relative;
  padding: 20px;
  right: 200px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0); 
  --font-size: 48px;
}
*/

.button-container-primary {
  background-image: url(./Assets/baguette.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 200px;
  margin: 50px auto;
  position: relative;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0); 
  --font-size: 48px;
}










/*
.button-container-primary {
  display: block;
  width: 400px;
  height: 200px;
  margin: 50px auto;
  position: relative;
  padding: 20px;
  right: 200px;
  border-radius: 24px;
  font-family: "Poppins";
  font-size: 48px;
  --background-color: white;
  --border-size: 2px;
}

.button-container-primary::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 24px;
  border: var(--border-size) solid var(--background-color);
  transition: top, left, right, bottom, 100ms ease-in-out;
}

.button-container-primary:hover::before,
.button-container-primary:focus::before {
  top: calc(var(--border-size) * -5);
  left: calc(var(--border-size) * -5);
  right: calc(var(--border-size) * -5);
  bottom: calc(var(--border-size) * -5);
}
*/

.button-container-upload {
  z-index: 1;
  display: block;
  width: 200px;
  margin: 70px auto;
  position: relative;
  padding: 20px;
  border-radius: 24px;
  --background-color: black;
  --border-size: 2px;
  font-size: 25px;
}

.button-container-upload::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 24px;
  border: var(--border-size) solid var(--background-color);
  transition: top, left, right, bottom, 100ms ease-in-out;
}
.button-container-upload:hover::before,
.button-container-upload:focus::before {
  top: calc(var(--border-size) * -3);
  left: calc(var(--border-size) * -3);
  right: calc(var(--border-size) * -3);
  bottom: calc(var(--border-size) * -3);
}
button {
  display: block;
  cursor: pointer;
  position: relative;
  width: 200px;
  border-radius: 40px;
  border: none;
  padding: 20px;
  font-size: 20px;
  color: black;
  background: #cccccc;
  transition-duration: 0.4s;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url(./Assets/toaster.gif);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

/* For Upload */

.upload-background {
  height: 100vh;
  margin: 0;
  position: relative;
  z-index: 1;
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

/*Column on the left side*/
.upload-content {
  padding: 9rem 0 2rem !important;
  text-align: center;
  position: relative;
  bottom: 10%;
}

/*Column on right side*/
.upload-form-container {
  padding: 9rem 0 2rem !important;
  text-align: left;
  position: relative;
  bottom: 10%;
}

.choose-file-container {
  padding: 9rem 0 2rem !important;
  text-align: left;
  position: relative;
  bottom: 100px;
  border-radius: 10px;
}

.upload-upload-button {
  display: block;
  width: 200px;
  position: relative;
  padding: 20px;
  border-radius: 24px;
  margin: 20px;
  bottom: 100px;
}

.upload-submit-button {
  display: block;
  width: 200px;
  position: relative;
  padding: 20px;
  border-radius: 24px;
  margin: 20px;
}

.upload-company-container {
  text-align: left;
  position: relative;
  border-radius: 10px;
  height: 40px;
  padding: 12px;
  font-size: large;
  margin-bottom: 20px;
}

.upload-textform-container {
  text-align: left;
  position: relative;
  bottom: 30px;
}

.upload-heading {
  font-family: "Comic Sans";
}

.white-bg {
  background-color: white;
  border-radius: 5%;
  margin: 0 50px;
  height: 70vh;
}
/*End up uploads*/

/*search*/

.search-bg {
  height: 100vh;
  margin: 0;
  position: relative;
  z-index: 1;
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}
.search-white-bg {
  background-color: white;
  border-radius: 5%;
  margin: 0 50px;
  height: 75vh;
  padding-top: 1%;
  width: 75vw;
}
