body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-header {
  padding-top: 80px !important;
}

.home-section {
  margin: 0;
  position: relative;
  z-index: 1;
  background-image: url(./Assets/kitchen5-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}
.home-content {
  padding: 9rem 0 2rem !important;
  text-align: left;
}
.heading {
  color: #ffe9c9;
  font-size: 4em !important; /* originally 2.4 em */
  /*padding-left: 50px !important;*/
  font-family: "Courier New";
}

.heading-name {
  color: #ffe9c9;
  font-size: 3em !important; /* originally 2.5 em */
  /*padding-left: 45px !important;*/
  font-family: "Times New Roman";
}

.main-name {
  color: #f9c87c;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: #f9c87c !important; /*#f9c87c */
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #f9c87c !important;
}

.button-container-primary {
  display: block;
  width: 400px;
  height: 200px;
  margin: 50px auto;
  position: relative;
  padding: 20px;
  right: 200px;
  border-radius: 24px;
  font-size: 32px;
}

.button-container-secondary {
  display: block;
  width: 200px;
  margin: 70px auto;
  position: relative;
  padding: 20px;
  left: 300px;
  bottom: 270px;
  border-radius: 24px;
}

button {
  display: block;
  cursor: pointer;
  position: relative;
  width: 200px;
  border-radius: 40px;
  border: none;
  padding: 20px;
  font-size: 20px;
  color: white;
  background: linear-gradient(90deg, #9383c5, #56e3fa);
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url(./Assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

/* For Upload */

.upload-background {
  height: 200%;
  margin: 0;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(
      to left,
      rgb(255, 209, 135),
      rgb(255, 136, 0, 0.1)
    ),
    url(./Assets/home-bkgd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

/*Column on the left side*/
.upload-content {
  padding: 9rem 0 2rem !important;
  text-align: left;
  position: relative;
  left: 200px;
  margin: 50px;
}

/*Column on right side*/
.upload-form-container {
  padding: 9rem 0 2rem !important;
  text-align: left;
  position: relative;
  margin: 50px;
}

.choose-file-container {
  padding: 9rem 0 2rem !important;
  text-align: left;
  position: relative;
  bottom: 100px;
  left: 50px;
}

.upload-upload-button {
  display: block;
  width: 200px;
  position: relative;
  padding: 20px;
  border-radius: 24px;
  margin: 20px;
  left: 50px;
  bottom: 100px;
}

.upload-submit-button {
  display: block;
  width: 200px;
  position: relative;
  padding: 20px;
  border-radius: 24px;
  margin: 20px;
  left: 220px;
}

.upload-company-container {
  text-align: left;
  position: relative;
  background-color: rgb(255, 209, 135);
  bottom: 390px;
  left: 260px;
}

.upload-textform-container {
  text-align: left;
  position: relative;
  bottom: 40px;
}

.upload-heading {
  font-family: "Comic Sans";
}

/*End up uploads*/
